
.header-div {
    align-items: center;
    text-align: center;
}

#logoId {
    width: 120px;
}

.main-container {
    max-width: 40%; 
}

.main-column {
    height: 300px;
    background-color: #1FCDF3;
    border-radius: 10px;   
}

.input-borders {
    border-radius: 10px;
}

.header-div-not-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1FCDF3;
    padding: 10px; /* Adicione algum espaço para melhorar a aparência */
}

#company-name {
    margin: 0; /* Remove qualquer margem existente */
    text-align: center;
    flex-grow: 1; /* Isso fará o texto ocupar o espaço disponível, centralizando-o horizontalmente */

}
.systemHeader {
	background-color: inherit;
}

.systemHeader .btn {
	background-color: #bef0fb;
}

.systemTable tr {
	background-color: #bef0fb;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr td:last-child {
	text-align: end;
}

.bi {
	font-size: calc(1rem + 0.3vw);
}

.bi-search {
	font-size: calc(0.9rem + 0.3vw);
}