@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 20px !important;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-div {
    background: rgba(31, 205, 243, 0.16);
    width: 100%;
    height: 3.125rem;
}

.logo {
    align-items: center;
    text-align: center;
    margin-top: 0%; 
    flex-grow: 1;
}

#logoId {
    width: 2.5rem;
    margin-right: 1.875rem;
    padding-top: .3125rem;
}

.site-title{
    padding-top: .3125rem;
    margin-left: 5%;
    font-size: 1.875rem;
}

.classes {
    background-color: rgba(31, 205, 243, 0.16);
    text-align: center;
    padding-top: .625rem;
    padding-bottom: .625rem;
}

.title {
    font-size: 1.125rem;
}

.navbar {
    position: fixed;
    right: 1;
    background-color: rgb(207, 204, 204, 0.2);
    height: 25rem;
}

.nav-item {
    margin: 1.5625rem, 1.5625rem;
}

.container .row {
    column-gap: 1.5625rem;
}

.container { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.beneficios {
    text-align: start; #important
    font-size: .625rem;
}

.icon-class {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    width: 15%;
}

.footer {
    background-color: rgba(31, 205, 243, 0.16);
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: .625rem;
    padding: .625rem 0 .625rem 0;
}
